@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource/archivo-black";
@import "@fontsource-variable/space-grotesk";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-head: var(--font-head);
  --font-sans: var(--font-sans);
  --radius: var(--radius);

  --shadow-xs: 1px 1px 0 0 var(--border);
  --shadow-sm: 2px 2px 0 0 var(--border);
  --shadow: 3px 3px 0 0 var(--border);
  --shadow-md: 4px 4px 0 0 var(--border);
  --shadow-lg: 6px 6px 0 0 var(--border);
  --shadow-xl: 10px 10px 0 1px var(--border);
  --shadow-2xl: 16px 16px 0 1px var(--border);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --border-w: var(--border-w);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-shadow-color: var(--shadow-color);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --font-head: "Archivo Black", sans-serif;
  --font-sans: "Space Grotesk Variable", sans-serif;
  --radius: 0.25rem;
  --background: #fff7e8;
  --foreground: #1a1815;
  --card: #ffffff;
  --card-foreground: #1a1815;
  --primary: #ff9f1c;
  --primary-hover: #f18701;
  --primary-foreground: #000000;
  --secondary: #1a1815;
  --secondary-foreground: #fff7e8;
  --muted: #f5eedd;
  --muted-foreground: #6b6459;
  --accent: #ffe4bd;
  --accent-foreground: #2b1c05;
  --destructive: #e63946;
  --destructive-foreground: #fff;
  --border: #000000;
  --input: #ffffff;
  --ring: #ff9f1c;
  --popover: #ffffff;
  --popover-foreground: #1a1815;
  --shadow-color: #000000;
  --chart-1: #ff9f1c;
  --chart-2: #e63946;
  --chart-3: #ffdc58;
  --chart-4: #01ffcc;
  --chart-5: #c4a1ff;
  --border-w: 2px;
  --shadow-xs: 1px 1px 0 0 var(--shadow-color);
  --shadow-sm: 2px 2px 0 0 var(--shadow-color);
  --shadow: 3px 3px 0 0 var(--shadow-color);
  --shadow-md: 4px 4px 0 0 var(--shadow-color);
  --shadow-lg: 6px 6px 0 0 var(--shadow-color);
  --shadow-xl: 10px 10px 0 1px var(--shadow-color);
  --shadow-2xl: 16px 16px 0 1px var(--shadow-color);
  --expo-out: linear(
    0 0%,
    0.1684 2.66%,
    0.3165 5.49%,
    0.446 8.52%,
    0.5581 11.78%,
    0.6535 15.29%,
    0.7341 19.11%,
    0.8011 23.3%,
    0.8557 27.93%,
    0.8962 32.68%,
    0.9283 38.01%,
    0.9529 44.08%,
    0.9711 51.14%,
    0.9833 59.06%,
    0.9915 68.74%,
    1 100%
  );
}

.dark {
  --background: #0c0a09;
  --foreground: #f5eedd;
  --card: #1c1815;
  --card-foreground: #f5eedd;
  --primary: #ff9f1c;
  --primary-hover: #ffb454;
  --primary-foreground: #000000;
  --secondary: #f5eedd;
  --secondary-foreground: #0c0a09;
  --muted: #1c1815;
  --muted-foreground: #a39c8f;
  --accent: #2b2013;
  --accent-foreground: #ffe4bd;
  --destructive: #ff6b6b;
  --destructive-foreground: #0c0a09;
  --border: #f5eedd;
  --input: #1c1815;
  --ring: #ff9f1c;
  --popover: #1c1815;
  --popover-foreground: #f5eedd;
  --shadow-color: #f5eedd;
  --chart-1: #ff9f1c;
  --chart-2: #ff6b6b;
  --chart-3: #ffdc58;
  --chart-4: #01ffcc;
  --chart-5: #c4a1ff;
}

@layer base {
  * {
    outline-color: var(--ring);
    border-color: var(--border);
  }
  body {
    overflow-x: hidden;
    color: var(--foreground);
    background-color: var(--background);
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  html {
    font-family: var(--font-sans);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-head);
  }
}

@layer base {
  ::view-transition-group(root) {
    animation-timing-function: var(--expo-out);
  }

  ::view-transition-new(root) {
    mask:
      url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAwSDQwTDAgNDBWMFoiIGZpbGw9InVybCgjcGFpbnQwX2xpbmVhcl8xNl8xNCkiLz48ZGVmcz48bGluZWFyR3JhZGllbnQgaWQ9InBhaW50MF9saW5lYXJfMTZfMTQiIHgxPSIwIiB5MT0iMCIgeDI9IjIwLjUiIHkyPSIyMC41IiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHN0b3Agc3RvcC1jb2xvcj0iY3VycmVudCIvPjxzdG9wIG9mZnNldD0iMC44NDUwNiIgc3RvcC1jb2xvcj0iY3VycmVudCIgc3RvcC1vcGFjaXR5PSIwLjk5Ii8+PHN0b3Agb2Zmc2V0PSIwLjk1MDYiIHN0b3AtY29sb3I9ImN1cnJlbnQiIHN0b3Atb3BhY2l0eT0iMCIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iY3VycmVudCIgc3RvcC1vcGFjaXR5PSIwIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PC9zdmc+")
      top left / 0 no-repeat;
    mask-origin: top left;
    animation: theme-toggle-scale 1.5s;
    animation-fill-mode: both;
  }

  ::view-transition-old(root),
  .dark::view-transition-old(root) {
    z-index: -1;
    transform-origin: top left;
    animation: theme-toggle-scale 1.5s;
    animation-fill-mode: both;
  }

  @keyframes theme-toggle-scale {
    to {
      mask-size: 200vmax;
    }
  }
}
